
.app {
    padding: 50px;
    background-color:rgb(56, 55, 55);
  }
  
  .todo {
    align-items: center;
    display: flex;
    font-size: 30px;
    justify-content: space-between;
  }

  h1 {
    color: white;
  }